body{

background:#FFF8DC;

font-family:Arial;

text-align:center;

}

.contenedor{

margin-top:40px;

}

.colores{

display:grid;

grid-template-columns:200px 200px;

justify-content:center;

gap:20px;

margin-top:30px;

}

.color{

width:200px;

height:200px;

border:none;

border-radius:20px;

cursor:pointer;

}

.rojo{

background:red;

}

.azul{

background:blue;

}

.verde{

background:green;

}

.amarillo{

background:yellow;

}

h1{

font-size:50px;

}

h2{

font-size:35px;

}

p{

font-size:30px;

font-weight:bold;

}
